* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: url("/assets/fonts/MPLUS1-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: url("/assets/fonts/MPLUS1-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: url("/assets/fonts/MPLUS1-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: url("/assets/fonts/MPLUS1-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus";
  src: url("/assets/fonts/MPLUS1-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --brand-color: #2CB4FE;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f5f7fa;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

.content {
  max-width: 1472px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 0;
  }
}
.header .content {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.header .content .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.header .content .header-row .logo_adress {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .content .header-row .logo_adress .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .content .header-row .logo_adress .logo .icon {
  color: #F5F7FA;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 32.87px;
  text-align: left;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--brand-color);
}
@media (max-width: 1024px) {
  .header .content .header-row .logo_adress .logo .icon {
    width: 48px;
    height: 48px;
    font-size: 23px;
  }
}
.header .content .header-row .logo_adress .logo h1 {
  max-width: 209px;
  color: #FFF;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .header .content .header-row .logo_adress .logo h1 {
    font-size: 24px;
  }
}
.header .content .header-row .logo_adress .logo h1 span {
  color: #FFF;
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1024px) {
  .header .content .header-row .logo_adress .logo h1 span {
    font-size: 14px;
  }
}
.header .content .header-row .logo_adress .separator {
  opacity: 0.5;
  background-color: #FFF;
  flex-shrink: 0;
  width: 1px;
  height: 60px;
}
@media (max-width: 1024px) {
  .header .content .header-row .logo_adress .separator {
    display: none;
  }
}
.header .content .header-row .logo_adress .adress {
  color: #FFF;
  font-family: "Mplus";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 301px;
}
@media (max-width: 1024px) {
  .header .content .header-row .logo_adress .adress {
    display: none;
  }
}
.header .content .header-row .phone-select {
  max-width: 197px;
  font-family: Mplus;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}
.header .content .header-row .phone-select .phone-select-wrapper {
  display: none;
}
@media (max-width: 1024px) {
  .header .content .header-row .phone-select {
    display: none;
  }
}
.header .content .header-row .callback {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B1B23;
  width: 151px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Mplus";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .header .content .header-row .callback {
    display: none;
  }
}
.header .content .header-row .contacts-socials {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .content .header-row .contacts-socials .social-link {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 5px;
  margin: 0 auto;
  background: #0b1b23;
}
@media (max-width: 1024px) {
  .header .content .header-row .contacts-socials .social-link {
    display: none;
  }
}
.header .content .burger-btn {
  width: 40px;
  height: 40px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .header .content .burger-btn {
    display: flex;
  }
}
.header .content .burger-btn .line:first-child {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  flex-shrink: 0;
  background: #F5F7FA;
}
.header .content .burger-btn .line:last-child {
  width: 28px;
  height: 2px;
  border-radius: 2px;
  flex-shrink: 0;
  background: #F5F7FA;
}
.header__top {
  width: 1440px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header__logo__adress {
  width: 630px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  width: 289px;
  height: 60px;
}
.header .logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .logo__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2cb4fe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
}
.header .logo__text--primary {
  font-size: 24px;
  font-weight: 900;
  line-height: 35.22px;
  width: 209px;
  height: 32px;
}
.header .logo__text--secondary {
  font-size: 17px;
  font-weight: 400;
  line-height: 19.96px;
  width: 206px;
  height: 20px;
}
.header__adress {
  width: 301px;
  height: 44px;
  display: flex;
  align-items: center;
}
.header .adress {
  font-family: "Mplus 1p", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.28px;
  text-align: left;
}
.header__separator {
  width: 1px;
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.header__contacts {
  display: flex;
  width: auto;
  height: auto;
  gap: 20px;
  align-items: center;
}
.header .contacts {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Mplus 1p", sans-serif;
}
.header .contacts__phone {
  font-size: 20px;
  font-weight: 400;
  line-height: 29.7px;
  text-align: left;
  width: 197px;
  height: 30px;
}
.header .contacts__callback {
  width: 151px;
  height: 38px;
  background: #0b1b23;
  font-size: 12px;
  font-weight: 800;
  line-height: 17.82px;
  text-align: center;
  color: #f5f7fa;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */